{% trans_default_domain "CoreBundle" %}
<table class="sortable">
	<tbody>
{% for val in value %}
    	<tr draggable="true" rel="{{ val.position }}">
    		<td>
    			<img src="{{ vich_uploader_asset(val,'imageFile') }}" style="width: 50px;height:50px;">
    		</td>
    	</tr>
{% endfor %}
	</tbody>
</table>
