{% extends "CoreBundle:Core:menu.html.twig" %}

{% block body %}
<div class="container">
    <h4>Edition du site</h4>
    <p>
    Editeur du site www.grecoinmobiliaria.com : <br> 
    Monsieur Adrien Durot<br>
    adriendurot3@hotmail.com<br>
    06.13.06.58.47<br>
    39 Avenue Aristide Briand, 35000 Rennes</p>
    
    <h4>Directeur des publications</h4>
    <p>Madame Giselle Greco<br>
    gestioninmobiliaria.greco@gmail.com</p>
    
    <h4>Propriété Intellectuelle</h4>
    <p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et photographiques. La reproduction, adaptation et/ou traduction de tout ou partie de ce site sur un support quel qu'il soit, est formellement interdite sauf autorisation expresse du Directeur de la publication.</p>
    
    <h4>Modification du site</h4>
    <p>L'équipe éditoriale se réserve le droit de modifier ou de corriger le contenu de ce site et de ces mentions légales à tout moment et ceci sans préavis.</p>
    
    <h4>Hébergeur</h4>
    <p>Le site www.grecoinmobiliaria.com est hébergé par la société OVH.</p>
    
    <p>
    	OVH<br>
        2 rue Kellermann<br>
        59100 Roubaix<br>
        France
    </p>
</div>

{% endblock %}