{% extends "CoreBundle:Core:menu.html.twig" %}

{% block title %}
{{ parent() }}
- Index
{% endblock %}


{% block body %}
<div class="container main-content">
	<h1 class="text-center display-4 text-underlign title">
		{{ 'gi.building.flat.summer.title'|trans }}
	</h1>
	<div class="row pt-4">
		{% for flat in flats %}
			{% include 'CoreBundle:Building/includes:building_item.html.twig' with {'building': flat,"isFlat": true} only %}
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}