@CHARSET "ISO-8859-1";

.easyadmin-lightbox img{
	max-width: 100%;
	max-height: 100%;
}
/*
###################################
#			BANNER: 			  #
###################################
*/

#banner{
	border-bottom: 2px solid #04317a;
}

#banner img{
	z-index: 10;
	max-width: 100%;
	min-width: 300px;
}
#logo-banner{
	text-align: center;
}

#middle-line{
	height:50px;
	border-bottom: 1px solid #d66e00;
}

#right-banner{
	color: #d66e00;
	margin-top:30px;;
	font-family:    Brush Script MT, Brush Script Std, cursive;
    font-size:      1.5em;
    font-weight:    bold;
    font-style: italic;
    text-align: center;

}

#small-logo-banner{
	display:none;
}

/*
###################################
#			Paragraph  			  #
###################################
*/


.p-underligned{
	border-bottom: 1px solid #04317a;
	padding: 1em 0;
	margin-bottom: 1em;
}
.p-left-padding{
	padding-left: 1em;
}

.p-right-padding{
	padding-right: 1em;
}

.p-right-2x-padding{
	padding-right: 3em;
}

.p-horizontal-padding{
	padding: 0 1em;
}

.p-vertical-padding{
	padding: 1em 0;
}

.p-border-right{
	border-right: 1px solid #04317a;
}

.p-border-right-main{
	border-right: 1px solid #d66e00;
}

.p-border-left{
	border-left: 1px solid #04317a;
}

.p-border-left-main{
	border-left: 1px solid #d66e00;
}

.m-height-2{
	line-height: 1.6em;
	max-height: 3.6em;
	overflow: hidden;
}

.m-height-3{
	line-height: 1.6em;
	max-height: 4.8em;
	overflow: hidden;
}
.m-height-4{
	line-height: 1.6em;
	max-height: 6.4em;
	overflow: hidden;
}

.m-height-5{
	line-height: 1.6em;
	max-height: 8em;
	overflow: hidden;
}


/*
###################################
#			Button:  			  #
###################################
*/


.btn-primary{
	background-color: #d66e00;
	border-color: #d66e00;
}

.btn-primary:hover{
	background-color: #04317a;
	color:white;
	border-color: #04317a;
}

/*
###################################
#			Footer:  			  #
###################################
*/

.main-content{
	padding-bottom: 2em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 200px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px; /* Set the fixed height of the footer here */
  /*line-height: 200px; /* Vertically center the text there */
  background-color: #04317a;
  color: #FFF;
  padding-top:2em;
}



