@CHARSET "ISO-8859-1";

ul > li{
	padding: 0.5em 2em;
}

ul > li:hover{
	border-bottom: 3px solid #d66e00;
}


ul > li.active{
	border-bottom: 3px solid #d66e00;
}

#navbar{
	background-color: rgb(255,255,255,0.8)!important;
}