@CHARSET "ISO-8859-1";


/* ########### X-SMALL ################ */
@media screen and (max-width: 576px) {
		
}



/* ########### SMALL ################ */
@media screen and (max-width: 768px) {
	
}

/* ########### MEDIUM ################ */
@media screen and (max-width: 992px) {
	#large-screen{
		display:none;
	}
	
	#small-screen{
		display:block;
	}
	a {
		padding: 0px !important;
	}
	
	.col{
		padding: 0px !important;
	}
}

/* ########### LARGE ################ */
@media screen and (max-width: 1200px){
	
	}

/* ########### XLARGE ################ */
@media screen and (max-width: 2000px){
	
}