@CHARSET "ISO-8859-1";

ul > li{
	padding: 0.2em 0.3em;
}

ul > li.nav-item:hover{
	border-bottom: 3px solid #d66e00;
}


ul > li.active{
	border-bottom: 3px solid #d66e00;
}

.dropdown-menu{
	width: 100%;
	background-color: rgb(230, 242, 255,0.8)!important;
}

.dropdown-item{
	background-color: rgb(230, 242, 255,0.8); 
	font-family: himalaya;
	font-size: 1em;
	
}

.dropdown-item:hover{
	background-color: #1b267a;
	color: white;
	
}


@font-face {
    font-family: himalaya;
    src: url(../../bundles/core/font/himalaya.ttf);
}

#navbar{
	background-color: rgb(230, 242, 255,0.8)!important;
	font-family: himalaya;
	font-size: 1.7em;
	
}

#navbar-bis{
	background-color: rgb(230, 242, 255,0.7)!important;
	font-family: himalaya;
	font-size: 1.7em;
}