{% block body %}
{% for flat in flats %}
<div class="title">{{ flat.title }}</div>
<div class="price">{{ flat.price }}</div>
<div class="description">{{ flat.descriptionSpanish|raw  }}</div>
{% endfor %}
{% endblock %}